.app__container {
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.main__content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  letter-spacing: .11px;

  line-height: 1;
  .btn-primary {
    color: #fff;
    background: #000;
    max-width: fit-content;
    border-radius: 0.5rem;
    text-align: center;
    border: 1px solid hsl(0, 0%, 8%);
    margin-inline: auto;
    padding: 1rem 2rem;

    transition: var(--transition);

    &:hover,
    &:focus {
      background: transparent;
      color: #000;
    }
  }
  h1{
    color: #000;
  }
  p {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.5;
  }
}

.main__hero-img {
  max-width: 30rem;
  height: auto;

  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

}

.social-icons {
  display: flex;
  gap: 2rem;
  max-width: 300px;
  img{
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
 .main__hero-img{
   justify-content: flex-end;
   align-items: flex-end;
 } 
}

@media screen and (max-width: 768px) {
  .main__content{
    text-align: center;
  }
  .social-icons{
    margin-inline: auto;
  }
}

@media screen and (max-width: 568px) {
  .main__hero-img{
    align-items: center;
    img{
      width: 342px;
      height: 342px;
    }
  }
  .main__content{
    p{
      font-size: 16px;
    }
    h1{
      font-size: 35px;
    }
  }
  
}
