nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  position: relative;
}

.nav__list {
  flex: 1;
  gap: 2rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;

  li {
    list-style: none;
    cursor: pointer;

    .register{
        margin-left: auto;
    }

    &:hover {
      color: red;
    }
  }
}
