@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
body{
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  color: var(--gray);
  display: grid;
  place-items: center;
}


:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
  --primary: rgb(111, 108, 235);

  --transition: all 500ms ease-in;;
}

a{
  text-decoration: none;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold-text {
  font-size: 5em;
  font-weight: 700;
  margin-top: 0;
  color: #000;

  @media screen and (max-width: 768px) {
    font-size: 3em;
  }
}