@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
body{
  font-family: 'Epilogue', sans-serif;
  color: var(--gray);
}


:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
  --primary: rgb(111, 108, 235);

  --transition: all 500ms ease-in;;
}

a{
  text-decoration: none;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

