
:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
  --primary: rgb(111, 108, 235);
}

a{
  text-decoration: none;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold-text {
  font-size: 7em;
  font-weight: 700;
  margin-top: 0;
  @media screen and (max-width: 768px) {
    font-size: 4em;
  }
}

.p-text {
  font-size: 1.2em;
  font-weight: 500;
}