nav {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  z-index: 2;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;


    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }
@media screen and (min-width: 768px) {
  .nav__list-item:nth-child(5) {
  margin-left: auto;
}
}
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav__menu {
  background-color: var(--white);
  padding: 1rem ;

  .close-nav{
    width: 50px;
    text-align: right;
    img{
      width: 100%;
    }
  }

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 2rem 1rem;

    width: 50%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    
    background-color: var(--white);


    ul {
      list-style: none;

      padding: 2rem 0;
      display: flex;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--black);
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}


.nav__list-item:nth-child(5),
.nav__list-item:nth-child(6){
  text-align: center;
}

.nav__list-item:nth-child(6) {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
}




