nav {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  position: relative;

  .nav__menu {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .nav__list {
      display: none;
    }
    .nav__menu {
      display: block;
    }
  }
}

.nav__list {
  flex: 1;
  gap: 2rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;

  .register {
    border: 1px solid;
    padding: 0.8rem;
    border-radius: 7px;
  }

  li {
    list-style: none;
    cursor: pointer;
    transition: var(--transition);

    a {
      font-weight: 500;
      font-size: 1.1rem;
      color: inherit;
    }

    &:hover {
      color: #000;
    }
  }
}

.nav__list-item:nth-child(5) {
  margin-left: auto;
}
.nav__list-item:nth-child(6) {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
}

.nav__list-item:nth-child(-n + 2)::after {
  content: url(../../assets/icon-arrow-down.svg);
  position: absolute;
  margin-left: 0.5rem;
}
